*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: hsl(34, 56%, 65%) ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container span {
    width: 100%;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
}

.container span.num {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.container span.add {
    cursor: pointer;
}
.container span.minus {
    cursor: pointer;
}